
                <div className="container mx-auto ">
                    <div className="flex flex-col lg:flex-row items-center">
                        <div className="flex-1">
                            <div className="rounded-2xl max-w-[300px] bg-gray-600 p-1 mb-6 pl-1 pr-3">
                                <div className="flex items-center justify-between">
                                    <div data-aos="zoom-in" data-aos-offset="50"
                                        className="bg-white rounded-full uppercase text-gray-400 text-xs py-1 px-4 aos-init aos-animate">70%
                                        save</div>
                                    <div className="text-xs text-white ml-3 lg:ml-0">for the best black friday deals</div>
                                </div>
                            </div>
                            <div className="text max-w-[500px]">
                                <h1 data-aos="fade-up" data-aos-offset="80"
                                    className="text-white text-4xl lg:text-5xl capitalize font-semibold py-2 aos-init aos-animate">fastest
                                    &amp; secure platform to invest in cypto</h1>
                                <p data-aos="fade-up" data-aos-offset="100" className="text-gray-300 text-xs mb-3 aos-init aos-animate">buy
                                    and sell cyptocurrencies by trusted 10M wallets, in over 100m transactions</p>
                                <div className="py-3 "><button data-aos="zoom-in" data-aos-offset="100"
                                        className="bg-blue-600 text-white rounded-3xl flex gap-x-4 items-center capitalize px-4 py-1 aos-init aos-animate">try
                                        for FREE <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                            className="bg-white py-1 rounded-full w-8 h-8 text-blue-500 px-2 aos-init aos-animate"
                                            data-aos="fade-right" data-aos-offset="100" height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 17l5-5-5-5v10z"></path>
                                            <path fill="none" d="M0 24V0h24v24H0z"></path>
                                        </svg> </button></div>
                            </div>
                        </div>
                        <div className="flex-1">
                        <div className="relative h-[585.15px]  w-[604px] bg-blue-300 ">
                                        <div className="absolute mt-[35px] ml-[40px]  h-[460px] w-[500px] bg-green-500"></div>
                
                                        <div className=" absolute right-0 top-0  h-[328.72px] w-[221px] bg-gray-500"></div>
                
                                        <div className=" absolute left-0 bottom-0  h-[147.25px] w-[224.38px] bg-gray-500"></div>
                
                                        <div className=" absolute right-0 bottom-0  h-[166.15px] w-[239px] bg-gray-500"></div>
                                    </div>
                        </div>
                    </div>
                </div>
                                {/* <div class="top-[163px] flex flex-col items-center lg:flex-row-reverse">
                                    <div className="relative h-[585.15px]  w-[604px] bg-blue-300 ">
                                        <div className="absolute mt-[35px] ml-[40px]  h-[460px] w-[500px] bg-green-500"></div>
                
                                        <div className=" absolute right-0 top-0  h-[328.72px] w-[221px] bg-gray-500"></div>
                
                                        <div className=" absolute left-0 bottom-0  h-[147.25px] w-[224.38px] bg-gray-500"></div>
                
                                        <div className=" absolute right-0 bottom-0  h-[166.15px] w-[239px] bg-gray-500"></div>
                                    </div>
                                    <div className="flex-1 h-[468px] w-full lg:w-[588px]  ">
                                        <div className="left-0 flex h-[40px] w-[365px] flex-row items-center  rounded-[32px] bg-[#ffffff1a]">
                                            <button className="flex h-[32px] w-[113px] items-center justify-center rounded-[32px] bg-white px-[4px] py-[16px] capitalize text-white">
                                                <h3
                                                    style={{
                                                        fontFamily: 'Rubik',
                                                        fontStyle: 'normal',
                                                        fontSize: '16px',
                                                        fontWeight: 500,
                                                        lineHeight: '150%',
                                                        color: '#0D0D2B',
                                                    }}
                                                >
                                                    75% SAVE
                                                </h3>
                                            </button>
                                            <span
                                                style={{
                                                    fontFamily: 'Rubik',
                                                    fontSize: '16px',
                                                    fontWeight: '400',
                                                    lineHeight: '28px',
                                                    letterSpacing: '0.01em',
                                                    textAlign: 'left',
                                                }}
                                                className="ml-[16px] text-white"
                                            >
                                                For the Black Friday weekend
                                            </span>
                                        </div>
                                        <div className="mt-[24px]">
                                            <h3
                                                style={{
                                                    fontFamily: 'Rubik',
                                                    fontStyle: 'normal',
                                                    fontSize: '64px',
                                                    fontWeight: 700,
                                                    lineHeight: '76px',
                                                    color: '#FFFFFF',
                                                }}
                                            >
                                                Fastest & secure platform to invest in crypto
                                            </h3>
                                        </div>
                                        <div className="mt-[24px]">
                                            <h3
                                                style={{
                                                    fontFamily: 'Rubik',
                                                    fontStyle: 'normal',
                                                    fontSize: '16px',
                                                    fontWeight: 400,
                                                    lineHeight: '28px',
                                                    color: '#E0E0E0',
                                                    letterSpacing: '0.01em',
                                                }}
                                                className="w-[435px]"
                                            >
                                                Buy and sell cryptocurrencies, trusted by 10M wallets with over $30
                                                billion in transactions.{' '}
                                            </h3>
                                        </div>
                                        <div className="mt-[32px]">
                                            <button className="flex h-[64px] w-[202px] items-center justify-center gap-[24px] rounded-[32px] bg-[#3671E9]   text-white">
                                                <h3
                                                    style={{
                                                        fontFamily: 'Rubik',
                                                        fontStyle: 'normal',
                                                        fontSize: '18px',
                                                        fontWeight: 500,
                                                        lineHeight: '150%',
                                                        color: '#FFFFFF',
                                                        textAlign: 'center',
                                                    }}
                                                >
                                                    Try for FREE
                                                </h3>
                                                <FaChevronCircleRight style={{ height: '32px', width: '32px' }} />
                                            </button>
                                        </div>
                                    </div>
                                </div> */}